/* @override http://127.0.0.1:3000/css/style.css */

body {
	font: 13px 'Comfortaa', cursive;
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	background: url('../images/grid.png');
}

body a {
	color: #4aa5ff;
	text-decoration: none;
}

html,body {
	height: 100%;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -130px;
}

.top-container {
	margin-bottom: 15px;
	border-top: thick double #4aa5ff;
	padding: 0;
}

.top {
	height: 100px;
	position: relative;
	text-align: center;
	width: 960px;
	overflow: hidden;
	border-bottom: 1px solid #000;
	margin: 0 auto;
}

.logo {
	float: left;
	overflow: hidden;
	width: 300px;
	height: 85px;
	margin: 0 auto;
	padding: 5px 0 0;
}

.main-nav {
	float: right;
	width: 660px;
	color: #fff;
	font-family:  'Comfortaa',curisve;
	text-align:  right;
	padding: 27px 0 0;
}

.main-nav ul li {
	list-style-type: none;
	display: inline;
	margin-right: 15px;
}

.main-nav a {
	color: #6b6b6b;
	font: 15px 'Questrial', sans-serif;
	font-weight: 550;
	text-decoration: none;
	background: #dcdcdc; 
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  0px 0px 5px #888;
	text-shadow:  0 0 3px #fff;
}

.main-nav a:hover {
	color: #4aa5ff;
	text-decoration: none;
	-webkit-transition: color 0.25s ease-in;
	-moz-transition: color 0.25s ease-in;
	transition: color 0.25s ease-in;
}

.content {
	width: 960px;
	overflow: hidden;
	background: transparent;
	margin: 0 auto;
	padding: 0;
}

.container {
	border: 1px solid #ddd;
	overflow: hidden;
	margin: 0 0 15px;
	padding: 0;
	background-color: #fefefe;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  0px 0px 9px #888;
}

.container h1.header {
	font:  18px 'Quattrocento Sans', sans-serif;
	color: #fff;
	border-bottom: 1px solid #2669ab;
	background-color: #4aa5ff;
	margin: 0 auto;
	padding: 5px 0 5px 5px;
	font-weight: 900;
	background:  url('../images/texture.png');
	text-shadow:  -1px -1px 1px rgba(0,0,0,0.25);}

.container p {
	font:  14px 'Quattrocento Sans', sans-serif;
	padding: 0 5px;
}

.footer-wide {
	background: #4aa5ff;
	border-top: thick double #fff;
	margin-top: 20px;
	background: url('../images/texture.png');	
}

.footer-wide, .push {
	height: 120px;
	clear: both;
}

.footer-container {
	overflow: hidden;
	clear: both;
	width: 960px;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

.footer-content a {
	color: #000;
	font-size: 12px;
	font-weight: 100;
	text-transform: uppercase;
}

.footer-content a:hover {
	color: #fff;
	text-decoration: none;
	-webkit-transition:  color 0.25s ease-in;
	-moz-transition:  color 0.25s ease-in;
	transition:  color 0.25s ease-in;
}

.footer-content {
	width: 960px;
	float: left;
	color: #fff;
	font-weight: 100;
	padding: 20px 0 0;
}

.left {
	text-align: left;
	float: left;
}

.right {
	float: right;
	text-align: right;
}

.content-right {
	float: right;
	overflow: hidden;
	text-align: left;
	width: 645px;
	padding: 0;
}

.content-left {
	float: left;
	overflow: hidden;
	width: 300px;
	text-align: left;
	padding: 0;
}

.tagline {
	margin: 0 auto;
	padding: 25px 0 0;
}

.tagline h1 {
	font-family:  45px 'Ubuntu', sans-serif;
	font-weight: 900;
	margin: 0;
	padding: 0 0 10px;
	text-shadow:  -1px -1px 1px rgba(0,0,0,0.25);
}

.tagline h2 {
	color: #706e65;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	margin: 0;
	padding: 0 0 15px;
}

.tagline-container { 
	clear: both;
	overflow: hidden;
	width: 960px;
	background-color: transparent;
	text-align: center;
	border-bottom: 1px solid #000;
	margin: 1em auto;
	padding: 0 0 15px;
}

.blue {
	color: #4aa5ff;
}
